.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid rgba(5, 5, 5, 0.06);
    transition: 0.3s;
    width: 300px;
    min-width: 250px;
    margin: 16px;
}

.card:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.card--task {
    width: 100%;
}

.card--title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card--description {
    font-size: 1rem;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}